.container-table{
    margin: 0px 20px 20px 20px;
    .Title-QLV{
        font-family: 'Montserrat', sans-serif !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 36px !important;
        margin-bottom: 12px !important;
        padding-top: 12px;
        color: #000000;
    }
}
.bg {
    background-color: white;
    border-radius: 24px;
    height: 620px;

}
.filter{
    margin: 0px 20px 20px 20px;
}
.uncontested{
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    /* or 157% */
    
    display: flex;
    align-items: center;
    
    /* Grey/4 */
    
    color: #A5A8B1;
}
.Checked{
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    /* or 157% */
    
    display: flex;
    align-items: center;
    
    /* Grey/4 */
    
    color: #FD5959;
}
.CalendarFake1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;

    width: 172px;
    height: 40px;

    /* Grey/3 */

    border-radius: 8px;
}