.css-ahj2mt-MuiTypography-root{
    margin-left: 5px !important;
}
.CalendarFake{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 12px;
    
    width: 148px;
    height: 40px;;
    
    /* Grey/4 */
    
    border: 1px solid #A5A8B1;
    box-sizing: border-box;
    border-radius: 8px;
}