.container-table{
    margin: 0px 20px 20px 20px;
}
.Title-QLV{
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 36px !important;
    margin-bottom: 32px !important;

    color: #000000;

}