.mainTC{
    background-color: #FFFFFF;
    border-radius: 24px;
    height: 620px;
    .container-table{
        margin: 0px 20px 20px 20px;
    }
    .Title-QLV{
        font-family: 'Montserrat', sans-serif !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 36px !important;
        margin-bottom: 12px !important;
        padding-top: 12px;
        color: #000000;
        //styleName: 36 bold;
    
    }

    .css-18zvy6t-MuiTableCell-root{
        padding: 14px !important;
    }
}

